/* 
    Created on : 26 sep. 2024, 00:38:26
    Author     : Alda
*/

.navHover:hover {
  color: darksalmon;
  font-size: 25px;
}

.fondo {
  background: linear-gradient(to bottom, #c6c6c6, #c6c6c6, #c6c6c6);
}

.fondo1 {
  background: linear-gradient(to bottom, #e8f6fb, #e8f6fb, #e8f6fb);
}

.icono {
  width: 38px;
  height: 38px;
}

footer {
  width: 100%;
  justify-content: center;
}

footer p {
  color: whitesmoke;
}

.footerSize {
  font-size: 20px;
}

.negritas {
  font-size: 20px;
  font-family: Times New Roman;
}

.size {
  height: 100%;
  width: 100%;
}

.title {
  color: black;
}

.tamanio {
  height: 82.7vh;
}

.tituloPagina {
  padding-top: 10% !important;
}

#contenedorPrincipal {
  padding-bottom: 20% !important;
}

.aceptado {
  color: rgb(63, 158, 0);
  font-weight: 700;
}

.rechazado {
  color: red;
  font-weight: 700;
}

.registrado {
  color: rgb(255, 209, 125);
  font-weight: 700;
}
